html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

.menuOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
}

.menuInnerContainer {
    width: 40%;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 51%;
    font-size: 20px;
    font-weight: 600;
}

.mt-20 {
    margin-top: 20px;
  }

.beg {
    color:lime;
}

.int {
    color:cyan;
}

.exp {
    color:red;
}