.pagination-btn {
  width: 100%;
  height: 40px;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 5px;
}

.pagination-btn a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2979ff;
  font-size: 25px;
}

.pagination-btn a:hover {
  color: white;
  background-color: lightskyblue;
}

.pagination-active a {
  color: white;
  background-color: lightskyblue;
}

.pagination-disabled a {
  color: white;
  background-color: gray;
  pointer-events: none;
  border: 1px solid black;
}
