.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  width: 100%;
}

.entry {
  display: flex;
  font-size: 30px;
  color: lightsalmon;
  width: 60%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.name {
  width: 50%;
}

.score {
  width: 50%;
}
